/* @media (max-width: 1300px) {
    h2 {

    }
} */

:root {
    --cust-light: #F2F2F2;
    --cust-main: #386481;
    --cust-dark: #303030;
    --cust-border: #D2D2D2;
}



#aboutme > div
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    column-gap: 4vw;
    row-gap: calc(2vh + 1vw);

    /* background-color: var(--cust-light);
    border-radius: 1rem; */

    margin: 0 6vw;
    /* max-width: 1050px; */
    align-items:center;

}

#aboutme > div > picture {
    min-width: 0;
    max-width: 400px;
    width: 400px;

    background-color: var(--cust-light);
    border-radius: 50%;
    padding: 4px;
}

#aboutme > div > picture > img {
    border-radius: 50%;
    width: 100%;



}

#aboutme > div > p {
    min-width: 0;
    max-width: 600px;
    min-height: 0;
    width: 600px;
    border: 1px solid var(--cust-border);
    background-color: var(--cust-light);
    border-radius: 1rem;
    color: var(--cust-dark);
    margin: 0;
    padding: 16px;
}


* {
    font-family: 'Verdana', 'Arial', 'Helvetica', 'Times New Roman';
}

li {
    display: inline;
}

h2 {
    text-align: center;
    font-size: calc(1.5rem + 3vw);
    font-family: 'Monaco', 'Lucida Console';
    margin: 0 0 3rem 0;
}

#aboutme, #skills {
    background-color: var(--cust-main);
    color: var(--cust-light);
}

#projects, footer{
    /* background-color: lightpink; */
    background-color: var(--cust-light);
}

body {
    margin: 0;
}

section {
    padding: 4rem 0;
}



#projects > div, #skills > div {
    display: flex;

    justify-content:center;
    column-gap: 4vw;
    row-gap: calc(2vh + 1vw);

    flex-flow: row wrap;

    margin: 0 6vw;
}



figcaption {
    color: var(--cust-dark);
}

#projects > div > div {
    min-width: 0;
    max-width: 325px;
    border: 1px solid var(--cust-border);
    border-radius: 1rem;

    display: flex;
    flex-flow: column nowrap;
}

#projects > div > div > p:nth-child(1) {
    background-color: var(--cust-light);

    border-radius: 1rem 1rem 0 0;
    padding: 10px;
    margin: 0;
}

#projects > div > div > p:nth-child(2) {

    border-radius: 0 0 1rem 1rem;
    margin: 0;
    padding: 10px;
    color: transparent;
    background-image: url('/images/portrait.jpg');
    flex-grow: 1;
}

#projects > div > div:hover > p:nth-child(2) {
    color: var(--cust-light);
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/images/portrait.jpg');
}

#skills > div > figure > img {
    width: 100px;
    margin: 16px;

}


#skills > div > figure {
    min-width: 0;
    max-width: 325px;

    border: 1px solid var(--cust-border);
    border-radius: 1rem;
    margin: 0;
    background-color: var(--cust-light);
    text-align: center;

    padding: 16px;
    line-height: 1.5rem;
}