:root {
    --cust-light: #F2F2F2;
    --cust-main: #386481;
    --cust-dark: #303030;
    --cust-border: #D2D2D2;
    --cust-mask: rgba(0,0,0,.8);
}

/* NAV BAR */
@media screen and (width < 600px) {
    nav label {
        display: block;
        border: 1px solid var(--cust-border);
        border-radius: 0.5rem;
        margin-left: auto;
    }

    nav img {
        margin: 5px;
        display: block;
    }

    nav input:checked ~ ul {
        display: block;
    }
    
    nav input:checked ~ label {
        background-color: var(--cust-border);
    }

    nav ul {
        display: none;
        background-color: var(--cust-light);
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 3rem;
    }

    li {
        list-style-type: none;
        display: list-item;
        padding:2vh 0;
    }
}

@media screen and (width >= 600px) {
    nav label {
        display: none;
    }

    li {
        display: inline-block;
        padding: 0.5rem 2.5vw;
    }
}

nav {
    background-color: var(--cust-light);
    border-bottom: 0.25rem solid var(--cust-dark);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    margin: 0;
    margin-left: auto;

}

nav a {
    text-decoration: none;
    color: var(--cust-dark);
}

nav p {
    margin: 0;
    padding: 0.85rem;
    line-height: 1rem;
}

nav input {
    display: none;
}

nav a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Verdana', 'Arial', 'Helvetica', 'Times New Roman';
}

h2 {
    text-align: center;
    font-size: calc(1.5rem + 3vw);
    font-family: 'Monaco', 'Lucida Console', 'Times New Roman';
    margin: 0 0 3rem 0;
}

h3 {
    margin: 0;
    font-weight: normal;
}

#aboutme, #skills {
    background-color: var(--cust-main);
    color: var(--cust-light);
}

#projects, #resume {
    background-color: var(--cust-light);
    color: var(--cust-dark);
}

section {
    padding: 4rem 0;
}

section > div {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    column-gap: 4vw;
    row-gap: calc(2vh + 1vw);

    margin: 0 6vw;
}

/* ABOUTME SECTION */
#aboutme div
{
    align-items: center;
}

#aboutme picture {
    width: 400px;
}

#aboutme img {
    border-radius: 50%;
    width: calc(100% - 0.8rem);
    border: 0.4rem solid var(--cust-light);
}

#aboutme p {
    width: 600px;
    border: 1px solid var(--cust-border);
    background-color: var(--cust-light);
    border-radius: 1rem;
    color: var(--cust-dark);
    margin: 0;
    padding: 16px;
    line-height: 2.2rem;
    font-size: 1.1rem;
}

/* PROJECTS SECTION */
#projects > div > div {
    max-width: 325px;
    border: 1px solid var(--cust-border);
    border-radius: 1rem;

    display: flex;
    flex-flow: column nowrap;
}

#projects h3 {
    font-size: 1rem;
    padding: 12px;

    background-color: var(--cust-light);
    border-radius: 1rem 1rem 0 0;
}

#projects p {
    border-radius: 0 0 1rem 1rem;
    margin: 0;
    padding: 10px;
    color: transparent;
    line-height: 1.5rem;
    flex-grow: 1;
}

#proj-1 p {
    background-image: url('/assets/previews/CSE_134B_Website_Preview.webp');
    background-size: cover;
    background-position: top center;
}

#proj-1:hover p {
    color: var(--cust-light);
    background-image: linear-gradient(var(--cust-mask), var(--cust-mask)), url('/assets/previews/CSE_134B_Website_Preview.webp');
}

#proj-2 p {
    background-image: url('/assets/previews/CSE_135_Website_Preview.webp');
    background-size: cover;

}

#proj-2:hover p {
    color: var(--cust-light);
    background-image: linear-gradient(var(--cust-mask), var(--cust-mask)), url('/assets/previews/CSE_135_Website_Preview.webp');
}

#proj-3 p {
    background-image: url('/assets/previews/RoommateHub_Preview.webp');
    background-size: cover;
    background-position: top center;
}

#proj-3:hover p {
    color: var(--cust-light);
    background-image: linear-gradient(var(--cust-mask), var(--cust-mask)), url('/assets/previews/RoommateHub_Preview.webp');
}

#proj-4 p {
    background-color: yellowgreen;
}

#proj-4:hover p {
    color: var(--cust-light);
    background-color: var(--cust-mask);
}

#proj-5 p {
    background-color: salmon;
}

#proj-5:hover p {
    color: var(--cust-light);
    background-color: var(--cust-mask);
}

/* SKILLS SECTION */
#skills figure {
    width: 325px;
    border: 1px solid var(--cust-border);
    border-radius: 1rem;
    margin: 0;
    background-color: var(--cust-light);
    text-align: center;
    color: var(--cust-dark);
}

#skills img {
    width: 100px;
    margin: 16px;
}

#skills h3 {
    font-size: 1.5rem;
}

#skills figcaption {
    margin: 16px;
    line-height: 1.5rem;
}

footer {
    padding: 2rem 0;
    text-align: center;
    color: var(--cust-dark);
}

footer p {
    margin: 0 0 1rem;
}

footer a {
    color: var(--cust-dark);
}